<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/Nlog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<!--要写入的目标-->
	<tragets>
	<!--将日志写入文件的具体位置-->
		<target name="allfile" xsi:type="File" fileName="../Loger/nlog-all-$(shortdate).log"></target>
	</tragets>
	
	<!--将日志程序名称映射到目标的规则-->
	<rules>
		<!--记录日志的级别-->
		<logger name="*" minlevel="Trace" writeTo="allfile"/>
	</rules>
	
</nlog>