<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @*include - 是什么环境*@
    <environment exclude="Development">
        @*不是开发环境使用main.css*@
        <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous"
              asp-fallback-href="~/twitter-bootstrap/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only"
              asp-fallback-test-property="position"
              asp-fallback-test-value="absolute"
              asp-append-version="true">
    </environment>
    <environment include="Development">
        <link href="~/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" asp-append-version="true" />
    </environment>
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <a class="navbar-brand" asp-controller="home" asp-action="Index">
                <img src="~/image/123.jpg" width="30" height="30" alt="Alternate Text" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNacbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="collapsibleNacbar" class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="home" asp-action="Index">学生列表</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="home" asp-action="Create">添加学生</a>
                    </li>
                </ul>
            </div>
        </nav>
        @RenderBody()
    </div>
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/twitter-bootstrap/js/bootstrap.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>
